<div class="container">
    <div class="menu-cards row">
        <div class="col-md-4" *ngFor="let permiso of permisos">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ permiso.tipoPermiso }}</h5>
                    <p class="card-text">Descripción breve del permiso.</p>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Asignación de días</li>
                </ul>
                <div class="card-body">
                    <button class="btn btn-primary" (click)="solicitarPermiso(permiso)">Solicitar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="tabla mt-4">
        <mat-form-field>
            <mat-label>Filtrar</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Buscar..." #input>
        </mat-form-field>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
            </ng-container>

            <ng-container matColumnDef="tipoPermiso">
                <th mat-header-cell *matHeaderCellDef> Permiso </th>
                <td mat-cell *matCellDef="let element"> {{ element.tipoPermiso }} </td>
            </ng-container>

            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let element"> {{ element.estado }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="3">No hay datos que coincidan con "{{input.value}}"</td>
            </tr>
        </table>
    </div>
</div>
