<div class="card-container">
  <mat-card class="permiso-card">
      <mat-card-header>
          <mat-card-title>Permiso de Vacaciones</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <div class="permiso-details">
              <p><strong>Descripción:</strong> Permiso para tomar vacaciones.</p>
              <p><strong>Días:</strong> 15</p>
          </div>
      </mat-card-content>
      <mat-card-actions>
          <button mat-raised-button class="green" (click)="solicitarPermisoVacaciones()">Solicitar</button>
      </mat-card-actions>
  </mat-card>

  <mat-card class="permiso-card">
      <mat-card-header>
          <mat-card-title>Permiso por Enfermedad</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <div class="permiso-details">
              <p><strong>Descripción:</strong> Permiso por enfermedad justificada.</p>
              <p><strong>Días:</strong> 3</p>
          </div>
      </mat-card-content>
      <mat-card-actions>
          <button mat-raised-button class="orange" (click)="solicitarPermisoEnfermedad()">Solicitar</button>
      </mat-card-actions>
  </mat-card>

  <mat-card class="permiso-card">
      <mat-card-header>
          <mat-card-title>Permiso Personal</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <div class="permiso-details">
              <p><strong>Descripción:</strong> Permiso por asuntos personales.</p>
              <p><strong>Días:</strong> 10</p>
          </div>
      </mat-card-content>
      <mat-card-actions>
          <button mat-raised-button class="blue" (click)="solicitarPermisoPersonal()">Solicitar</button>
      </mat-card-actions>
  </mat-card>
</div>