body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #d9d9d9;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.tempo{
    width: 15%;
}

.navbar {
    background: linear-gradient(135deg, #00509e, #008cff);
    color: white;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.sidebar {
    width: 250px;
    background: linear-gradient(135deg, #004080, #0066cc);
    padding-top: 70px;
    position: fixed;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
    justify-content: space-between;
    padding-bottom: 30px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-link {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 16px;
    text-align: center;
    transition: background 0.3s, transform 0.2s;
    border-radius: 5px;
}

.sidebar .nav-link:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
}

.sidebar .logout {
    background: linear-gradient(135deg, #003366, #00509e);
    color: white;
    font-weight: bold;
    width: 100%;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    margin-top: 280px;
    margin-bottom: 20px;
    align-self: center;
}

.sidebar .logout:hover {
    background: linear-gradient(135deg, #002244, #004080);
}

.main-content {
    margin-left: 250px;
    margin-top: 70px;
    padding: 20px;
    flex: 1;
    background: #f0f0f0;
    color: black;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    height: calc(100vh - 90px);
}

.empleados{ 
    width: 16%;
}

.reloj {
    width: 12%;
}

.permiso{
    width: 11%;
}