
    <div class="navbar"><img src="../../../assets/img/TEMPO.png" class="tempo" alt="TEMPO">
    <p>Bienvenido a Nuestro Sistema Querido Usuario :) </p>
    
</div>
<div class="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a   class="nav-link" routerLink="/list-personas/permisos"> <img src="../../../assets/img/permiso.png" class="permiso" alt=""> Permisos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/list-personas"> <img src="../../../assets/img/empleados.png" class="empleados" alt="">Empleados</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/list-personas/registro-horas"><img src="../../../assets/img/reloj.png" class="reloj" alt="">Registro de Horas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link logout" (click)="logOut()" style="cursor: pointer;"><img src="../../../assets/img/salida.png" alt="cerrar sesión" class="salida">Cerrar Sesión</a>
        </li>
    </ul>

</div>