table{
width: 100%;
}

mat-form-field {
font-size: 14px;
width: 100%;
}

.btnEdit, .btnDelete {
    cursor: pointer;

}

.btnEdit {
    color: black;

}

.btnDelete{
    color: black;

} 
button{
    width: 5%;
}