.login-container {
    display: flex;
    height: 100vh;
    position: relative;
  }
  
  .left-panel {
    flex: 1;
    background: linear-gradient(135deg, #007BFF, #0056b3);
    display: flex;
    flex-direction: column; /* Cambiado a column para apilar elementos */
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    position: relative;
  }
  
  .left-panel img.tempo {
    width: 60%; /* Mantén el ancho de la imagen */
    margin-bottom: 10px; /* Agrega un margen inferior para separar la imagen del texto */
  }
  
  .left-panel div {
    text-align: center; /* Centra el texto span dentro del div */
  }
  
  left-panel div span {
      margin-top: 10px; /* Ajusta el margen superior del span si es necesario */
  }
  
  .right-panel {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    position: relative;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    position: relative;
    overflow: hidden;
    padding-bottom: 20px;
  }
  
  .logo {
    height: 130px;
    margin-bottom: 10px;
  }
  
  .body {
    width: 100%;
    text-align: center;
  }
  
  /* Línea azul dentro del cuadro del login */
  .wrapper::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background: linear-gradient(90deg, #007BFF, #0056b3);
    border-radius: 3px;
    animation: line-expand 1s ease-in-out forwards;
  }
  
  @keyframes line-expand {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }