.form-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
  }
  
  .file-upload {
    display: flex;
    align-items: center;
  }
  
  .file-input {
    display: none;
  }
  
  .upload-button {
    background-color: #4caf50; /* Color verde */
    color: white;
  }
  
  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / -1;
  }
  
  mat-dialog-actions {
    margin-top: 20px;
  }
  
  .documento-field .mat-form-field-underline {
    display: none; /* Elimina la línea inferior */
  }
  
  .documento-field .mat-form-field-wrapper {
    padding-bottom: 0; /* Elimina el espacio inferior */
  }
  
  .documento-field .mat-form-field-infix {
    padding-top: 8px; /* Ajusta el padding superior */
  }

  /* Estilo para el contenedor de carga de archivos */
.file-upload {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 16px;
  border-radius: 8px;
  border: 2px solid #ddd;
  background-color: #f4f7fc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.file-upload:hover {
  border-color: #3f51b5;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Estilo para el texto de la etiqueta */
.file-upload label {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-bottom: 12px;
  display: block;
}

/* Estilo para el botón de cargar archivo */
.file-upload .custom-file-btn {
  background-color: #4caf50;  /* Color verde brillante */
  color: white;
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.file-upload .custom-file-btn:hover {
  background-color: #45a049;  /* Color verde más oscuro al pasar el ratón */
  transform: translateY(-2px);
}

.file-upload .custom-file-btn:active {
  transform: translateY(1px);  /* Sutil efecto cuando se hace clic */
}

/* Estilo para mostrar el nombre del archivo */
.file-upload .file-name {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
  font-weight: 500;
  word-wrap: break-word;
}

/* Estilo para el campo de error */
mat-error {
  font-size: 14px;
  color: #f44336;
  margin-top: 10px;
  font-weight: 500;
  transition: opacity 0.3s ease-in-out;
}

/* Para cuando el error está visible */
mat-error.ng-trigger.ng-trigger-fadeIn {
  opacity: 1;
}

mat-error.ng-trigger.ng-trigger-fadeOut {
  opacity: 0;
}
