
<div class="container">
    <h2 mat-dialog-title>Agregar Persona</h2>
    <mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
</div>
<form [formGroup]="form" (ngSubmit)="addEditPersona()">
    <mat-dialog-content>
    
        <div class="row">
            <div class="column">
                <mat-form-field appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input formControlName="nombre" matInput  autocomplete="off">
                </mat-form-field>
                <div class="error">
                    <span *ngIf="form.get('nombre')?.hasError('required') && form.get('nombre')?.touched" >El nombre es un campo <strong>Requerido</strong> </span>
                    <span *ngIf="form.get('nombre')?.hasError('maxlength')">
                        El nombre no debe tener mas de 20 caracteres
                    </span>
                </div>
            </div>
            <div class="column">
                <mat-form-field appearance="fill">
                    <mat-label>Apellido</mat-label>
                    <input formControlName="apellido" matInput  autocomplete="off">
                </mat-form-field>
                <div class="error">
                    <span *ngIf="form.get('apellido')?.hasError('required') && form.get('apellido')?.touched" >El apellido es un campo <strong>Requerido</strong> </span>
                </div>          
            </div>    
        </div>
        <div class="row">
            <div class="column">
                <mat-form-field appearance="fill">
                    <mat-label>Correo</mat-label>
                    <input formControlName="correo" matInput  autocomplete="off">
                </mat-form-field>
                <div class="error">
                    <span *ngIf="form.get('correo')?.hasError('required') && form.get('correo')?.touched" >El correo es un campo <strong>Requerido</strong> </span>
                    <span *ngIf="form.get('correo')?.hasError('email') && form.get('correo')?.touched">
                        El correo es <strong>Invalido</strong>
                    </span>
                </div>
            </div>           
        </div>
        <div class="row">
            <div class="column">
                <mat-form-field>
                    <mat-label>Tipo de Documento</mat-label>
                    <mat-select formControlName="tipoDocumento">
                        @for (item of tipoDocumento; track item) {
                        <mat-option [value]="item">{{item}}
                        </mat-option>}
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="column">
                <mat-form-field appearance="fill">
                <mat-label>N° Documento</mat-label>
                    <input formControlName="documento" matInput autocomplete="off">
                </mat-form-field>
                <div class="error">
                    <span *ngIf="form.get('documento')?.hasError('required') && form.get('documento')?.touched" >El documento es un campo <strong>Requerido</strong> </span>
                    <span *ngIf="form.get('documento')?.hasError('pattern') && form.get('documento')?.touched">
                        El documento debe tener solo <strong>Número</strong>
                    </span>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="colum">
                    <mat-form-field class="example-full-width">
                        <mat-label>Fecha de Nacimiento</mat-label>
                        <input  [max]="maxDate" formControlName="fechaNacimiento"matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker></mat-datepicker>
                    </mat-form-field>
                    <div class="error">
                        <span *ngIf="form.get('fechaNacimiento')?.hasError('required') && form.get('fechaNacimiento')?.touched" >La fecha de nacimiento es un campo <strong>Requerido</strong> </span>
                    </div>
                </div>
            </div>
    
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button type="button" (click)="cancelar()" mat-button >Cancelar</button>
        <button  type="submit" mat-button cdkFocusInitial>Aceptar</button>
    </mat-dialog-actions>
    
</form>
